.portfoliocard {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 1rem;
    /* box-shadow: 5px 10px 30px rgb(0 0 0 / 42%); */
}
.certificatecard{
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
}
.certificatecard-image{
    display: flex;
    width: 8vw;
    justify-content: center;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 30vh;
    margin-top: 0.5rem;
}
.portfoliocard img{
    width: 30vw;
    height: 15rem;
    border: 2px solid transparent;
    border-radius: 1rem;
    padding: 0.3rem;
}
.certificatecard-heading{
    font-size: 1.3vmax;
    text-align: left;
    color: #FCA61F

}
.portfoliocard-desc{
    text-align: start;
    padding-left: 1rem;
    padding-right: 1rem;
}
.portfoliocard-content{
    display: flex;
    flex-direction: column;
}
.buttons img{
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: auto;
    cursor: pointer;

}
.certificatecard-buttons{ 
    display: flex;
    flex-direction: row;
    font-size: 1.4vmax;
}
.certificatecard-buttons p{
    display: flex;
    margin-top: 0px;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0rem;
    cursor: pointer;
    font-size: 1.4vmax;
}
.buttons a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    color: inherit;
}
.certificatecard-a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    color: inherit;
}
@media screen and(max-width: 600px) {
    .certificatecard-image{
        display: flex;
        width: 30vw;
    }
    .image{
        display: flex;
        object-fit: cover;
        width: 40vw;
    }
    .certificatecard{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40vw;
    }
    .portfoliocard {
        width: 90vw;
        height: 15rem;
        border: 2px solid transparent;
        border-radius: 1rem;
        padding: 0.3rem;
    }
    .portfoliocard img{
        width: 90vw;
        height: 15rem;
        border: 2px solid transparent;
        border-radius: 1rem;
        padding: 0.3rem;
    }
}