.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #131313;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #cdcdcd;

}