
.navbar{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 5vmax 0 5vmax;
    position: fixed;
    width: 90%;
    z-index: 7;
    margin-bottom: 1vh;
    backdrop-filter: blur(5px);
}
.navbar-ul-1{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex: 1;
    align-items: center;
    justify-content: start;
    gap: 2vw;
    padding-top: 0.2vmax;
}
.navbar-ul-1 >:nth-child(2){
    margin-top: 0.2vmax;
}
.navbar-ul-2{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex: 2;
    gap:1rem;
    justify-content: space-between;
    align-items: center;
}
.navbar-li{
    font-size: 1.3vmax;
    font-weight: bold;
}
.navbar-button{
    border-radius: 2vmax;
    background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
    box-shadow: 0px 10px 24px 3px rgba(251, 161, 40, 0.42);
    padding: 0.5vmax 1.3vmax 0.5vmax 1.3vmax;
    color: white;
    font-size: 1vmax;
    border: none;
}
.navbar-button:hover{
    cursor: pointer;
    background: #ff8402;
}
.navbar li{
    font-size: 1vmax;
}
.navbar li:hover{
    cursor: pointer;
    color: var(--customorange);
}

@media screen and (max-width:600px) {
    .navbar{
        justify-content: center;
        padding: 0;
        width: 100%;
    
    }
    .navbar-ul-2{
        display: none;
    }
    .navbar-ul-1{
        padding: 0;
        justify-content: center;
    }
    .navbar-li {
        padding: 0;
    }
    .navbar li{
        font-size: 2vmax;
    }
}
