/* .swiper-slide{
    background-position: center;
    block-size: cover;
    width: 400px;
    height: 300px;
    @media (max-width: 768px) {
        width: 250px;
        height: auto
    }
}
.swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container{
    position: relative;
    width: 100%;
    height: 60vh;
    display: block;
}
.swiper-container{
    width: 70%;
    position: absolute;
    left: 50%;
    bottom: -16vw;
    transform: translateX(-50%);
    z-index: 2;
    padding-bottom: 3vw;
    @media (max-width: 768px) {
        bottom: -58vw;
        padding-bottom: 8vw
    }
}
.title_wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 3vw 0 2vw 0;
    @media (max-width: 768px) {
        padding-top: 13vw
    }
}
.reactLogo{
    width: 5vw;
    height: 5vw;
    margin-right: 1vw;
    @media (max-width: 768px) {
        width: 25vw;
        height: 25vw

    }
   
}
.reactLogo img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.title{
    font-size: 2vw;
    @media(max-width: 768px){
        font-size: 7vw
    }
} */


/* *{
    margin:0;
    padding:0;
  }
  .container {
    background: #f0f0f0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  .box {
    border-radius: 20px;
    width: 60px;
    height: 60px;
    background: #f0f0f0;
    box-shadow:  0 0 0 #cccccc,
                 0 0 0 #ffffff,
                  10px 10px 10px #cccccc inset,
                  -10px -10px 10px #ffffff inset;
    animation: anime 3s cubic-bezier(0.16, 1, 0.3, 1);
    animation-iteration-count: 2;
    animation-direction: alternate;
  }

  @keyframes anime {
    0% {
      width: 60px;
      height: 60px;
      background: #f0f0f0;
      box-shadow:  0 0 0 #cccccc,
                   0 0 0 #ffffff,
                    10px 10px 10px #cccccc inset,
                    -10px -10px 10px #ffffff inset;
    }
    25% {
      width: 60px;
      height: 60px;
      background: #f8f8f8;
      box-shadow:  10px 10px 10px #cccccc,
                   10px 10px 10px #ffffff,
                   0 0 0 #cccccc inset,
                   0 0 0 #ffffff inset;
    }
    50% {
      width: 60px;
      height: 240px;
      background: #f8f8f8;
      box-shadow:  10px 10px 10px #cccccc,
                   10px 10px 10px #ffffff,
                   0 0 0 #cccccc inset,
                   0 0 0 #ffffff inset;
    }
    100% {
      width: 480px;
      height: 240px;
      background: #fafafa;
      box-shadow:  40px 40px 40px #cccccc,
                   0 0 0 #ffffff,
                   0 0 0 #cccccc inset,
                   2px 2px 2px #ffffff inset;
    }
} */

.portfolio-heading{
    font-size: 2rem;
    color: var(--customorange);
    text-align: left;
    padding-left: 15rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.grid-row{
    display: flex;
    flex-direction: row;
   padding-left: 15rem;
   padding-right: 8rem;
   padding-bottom: 2rem;
   
}
@media screen and (max-width:480px) {
    .portfolio-heading{
        padding-left: 0rem;
    }
    .grid-row{
        padding-left: 0rem;
        transform: scaleX(0.45);
        margin-left: -8rem;
    }
}