.portfoliocardMain {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 1rem;
    width: 70vmax;
    flex-wrap: wrap;
    /* box-shadow: 5px 10px 30px rgb(0 0 0 / 42%); */
}
.certificatecard {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 1rem;
    width: 20vw;
    padding: 1vmax;
    /* box-shadow: 5px 10px 30px rgb(0 0 0 / 42%); */
}
.certificatecard-image{
    width: 16vw;
    border: 2px solid transparent;
    border-radius: 1rem;
    padding: 0.3rem;
}
 /* img{
    width: 30rem;
    height: 15rem;
    border: 2px solid transparent;
    border-radius: 1rem;
    padding: 0.3rem;
} */
.portfoliocardMain-imgBox {
    width: 40%;
}
.portfoliocard-img {
    display: flex;
    width: 100%;
    height: 85%;
    padding: 0.5vw;
    border-radius: 1.5vmax;
}
.portfoliocard-heading{
    font-size: 1.2vmax;
    color: var(--customorange);
    text-align: left;
    padding-top: 2vh;
    padding-bottom: 1vh;
    padding-left: 0.8vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 1vw;

}
.portfoliocard-featured {
    text-align: center;
    background-color: var(--customorange);
    padding: 1vh 2vw;
    margin: 1vw;
    color: white;
}
.portfoliocard-desc{
    font-size: 1vmax;
    margin-left: 1vw;
}
.portfoliocard-content {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}
.certificatecard-content{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.buttons-img{
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;

}
.buttons p{
    display: flex;
    margin-top: 0px;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0rem;
    cursor: pointer;
    font-size: 1vmax;
}
.buttons img {
    margin-top: 1vh;
    margin-bottom: -1vh;
    padding: 0;
}
.buttons a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    color: inherit;
}
@media screen and (max-width:600px) {
    .portfoliocardMain{
        display: flex;
        flex-direction: column;
        width: 90vw;
    }
    .portfoliocardMain-imgBox {
        width: 98%;
    }
    .portfoliocard-content {
        width: 100%;
    }
    .portfoliocard-heading {
        padding-top: 0;
        font-size: 2.5vmax;
    }
    .portfoliocard-desc {
        font-size: 2vmax;
    }
    .buttons-a {
        padding-top: 0.5vh;
    }
    .buttons {
        padding-bottom: 2vh;
    }
    .certificatecard {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40vw;
    }
    .certificatecard-image {
        
    }
}