.services{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem 0 5rem;
    flex-wrap: wrap;
    margin-top: 4rem;
}
.services-left{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: start;
    gap: 1rem;
    justify-content: start;
    flex-wrap: wrap;
}
/* .services-left >:nth-child(1){
    font-size: 3rem;
} */

.services-left >:nth-child(1){
    font-size: 2rem;
    color: var(--customorange);
    font-weight: bold;
    
}

.services-left >:nth-child(3){
}
.card p {
    font-size: 0.8vmax;
}

.services-button{
    border-radius: 2rem;
    background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
    box-shadow: 0px 10px 24px 3px rgba(251, 161, 40, 0.42);
    padding: 1rem 1.8rem 1rem 1.8rem;
    color: white;
    border: none;
    margin-top: 4rem;

}
.services-button:hover{
    cursor: pointer;
    background: #ff8402;
}
.services-right{
    display: flex;
    flex: 2;
    position: relative;
}
.motion1 {
    position: absolute;
    margin-top: 2vmax;
}
.motion2 {
    position: absolute;
    margin-top: 26vmax;
    margin-left: 3vmax;
}
.motion3 {
    position: absolute;
    margin-top: 1vmax;
    margin-left: 30vmax;
}
.motion4 {
    position: absolute;
    margin-top: 24vmax;
    margin-left: 27vmax;
}
.motion5 {
    position: absolute;
    margin-top: 1vmax;
    margin-left: 45vmax;
}

@media screen and (max-width:600px) {
    .services{
        display: flex;
        flex-direction: column;
        padding: 0vw 3vw;
        flex-wrap: wrap;
        margin-top: 10vh;
    }
    .services-left{
        gap: 0rem;
        line-height: 20px;
        flex-wrap: wrap;
        margin-bottom: 5vh;
    }
    .services-left >:nth-child(1){
        padding-bottom: 1rem;
        font-size: 2.5vmax;
    }
    .services-left >:nth-child(2){
        font-size: 2vmax;
    }
    .services-right {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        flex: 0;
    }
}