.toggle{
    position: absolute;
    padding: 0.7vmax 1.5vmax 0.7vmax 1.5vmax;
    border: 3px solid var(--customorange);
    border-radius: 30vmax;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    margin-top: -0.3vmax;
}
.toggle-div{
    position: absolute;
    width: 1vmax;
    height: 1vmax;
    border-radius: 100%;
    background-color: var(--customorange);
    margin-left: -1.2vmax;
    margin-top: -0.5vmax;
    cursor: pointer;

}
.toggle-icon{
    position: absolute;
    color: var(--customorange);
    margin-left: 0.2vmax;
    margin-top: -0.5vmax;
    cursor: pointer;
    font-size: 1vmax;

}

.toggle1{
    position: absolute;
    padding: 0.7vmax 1.5vmax 0.7vmax 1.5vmax;
    border: 3px solid #cdcdcd;
    border-radius: 30vmax;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    font-size: 1vmax;
    margin-top: -0.3vmax;

}
.toggle1-div{
    position: absolute;
    width: 1vmax;
    height: 1vmax;
    border-radius: 100%;
    background-color: #cdcdcd;
    margin-left: 0.2vmax;
    margin-top: -0.5vmax;
    cursor: pointer;

}
.toggle1-icon{
    position: absolute;
    color: #cdcdcd;
    margin-left: -1.2vmax;
    margin-top: -0.5vmax;
    cursor: pointer;
    font-size: 1vmax;
}

@media screen and (max-width: 600px) {
    .toggle {
        margin-top: 0.1vh;
    }
}